*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.text-white{
    color: #fff;
}

.text-center {
    margin: auto 0;
}

.logo {
    height: 170%;
}

header {
    max-width: 1140px;
    height: 96px;
    margin: auto;
    display: flex;
}

.home-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #777777;
}

.home-btn:hover{
    color: #5e5e5e;
}

.company-name {
    font-size: 30px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}

.btn {
    border: none;
    height: 30px;
    padding: 5px 15px;
    background: none;
    color: #999999;
    font-size: 14px;
    border-radius: 2px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.btn:hover{
    background-color: #48CFAD;
    color: #fff;
}



.main {
    min-height: 1000px;
    background-color: #566778;
    padding: 28px 80px 0;
}

.container {
    border: 2px #34495e solid;
    border-radius: 16px 16px 0 0 ;
    background: #fff;
}

.table-header {
    background-color: #34495e;
    border-radius: 10px 10px 0 0;
    padding: 16px;
    display: flex;
    justify-content: flex-end;
}

.form-nhap-thang {
    display: flex;
    justify-content: end;
}

.label-date {
    color: #fff;
    line-height: 100%;
    text-align: center;
    margin: auto 0;
    padding-right: 12px;
}

.date-input{
    outline: none;
    margin-right: 10px;
    width: 100px;
}

.btn-table {
    color: #fff;
    cursor: pointer;
    background-color: #566778;
    margin: 0 5px;
}



.col {
    flex-grow: 1;
}

.table {
    width: 100%;
    padding: 0 24px;
}

tr.tb-row {
    border-bottom: 2px #ccc solid;
    line-height: 50px;
    text-align: left;
}

.tb-row td {
    padding: 10px 20px;
}

th, td {
    border-bottom: 2px solid #ddd;
    padding: 0 10px;
}
th {
    font-weight: 300;
}